# Build output
Debug/
Release/
x64/
build/

# Executable
*.exe

# MSVC build files
*.obj
*.pdb
*.ilk
*.idb

# Logs + temp
*.log
*.tmp

# Windows
Thumbs.db

# VS cache
.vs/

# vscode settings (optional)
.vscode/*
!.vscode/settings.json

# Git
.gitignore